.accordion {
    width: 100%;
    position: relative;
}
.accordion-content {
    width: 100%;
    display: block !important;
}
.accordion-header:focus {
    border: 0;
    outline: none;
}
.accordion-header {
    border-radius: 4px;
}
.accordion-chk {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    -khtml-appearance: none !important;
    appearance: none !important;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 2;
    margin: 0px;
    border: 0;
    outline: none;
}

input.accordion-chk:checked {
    background-color: transparent;
}

input.accordion-chk:focus {
    border: 0;
    outline: none;
}

.accordion h3 {
    border: none;
    position: relative;
    padding: 10px;
    margin: 0;
    z-index: 1;
}

.acc-icon {
    float: right;
}

.accordion .accordion-chk:checked + h3 + div.accordion-content {
    opacity: 1;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 1000px;
    overflow: hidden;
    padding: 15px;
}

.accordion-content {
    opacity: 0;
    padding: 15px;
    overflow: hidden !important;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin-bottom: 2px;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left !important;
}
.accordion.Button--primary {
    border-radius: 5px;
}
