.chat-a {
    display: block;
    padding: 15px;
    border-radius: 5px;
    width: 45%;
    text-align: left;
    clear: both;
    cursor: default;
    overflow-wrap: break-word;
    white-space:inherit;
}
.chat-b {
    display: block;
    padding: 15px;
    border-radius: 5px;
    float: right;
    width: 45%;
    text-align: left;
    clear: both;
    cursor: default;
    overflow-wrap: break-word;
    white-space:inherit;
}
.chat-b-normal {
    font-weight: normal !important;
}
.space {
    clear: both;
    display: block;
    margin-bottom: 10px;
}
